*~
*.a
/aclocal.m4
app.info
/AUTHORS
/autom4te.cache
/build*/
/config/
/config.*
/configure
coverage_report
depcomp
.deps
*.gcda
*.gcno
GIT_REVISION
*.html
/INSTALL
install-sh
*.la
*.lai
libtool
*.lo
ltmain.sh
m4
Makefile
Makefile.in
missing
/NEWS
*.o
*.so*
/stamp-h1
SVN_REVISION
*.tar*
*.zip
